@font-face {
  font-family: "proxima_nova";
  font-style: normal;
  src: url("../fonts/FontsFree-Net-ProximaNovaAltRegular.ttf")
      format("truetype"),
    url("../fonts/FontsFree-Net-ProximaNovaAltRegular.ttf") format("truetype"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #4c525a;
  /* font-family: "proxima_nova"; */
  font-style: normal;
  font-weight: 100;
}
body {
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}

.main-section {
  width: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: flex;
  padding: 50px 0;
}
header > img {
  width: 150px;
}
#right-menu-section {
  display: flex;
  margin-left: 10rem;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav > ul ul {
  display: none;
}
.main-menu-item {
  margin-right: 40px;
  font-size: 17px;
  line-height: 22px;
  color: #4c4d5f;
}
.has-sub-items:hover > ul {
  display: block;
}
.has-sub-items > i {
  font-size: 10px;
}
.menu-level-2,
.menu-level-3 {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 1px 60px 0 rgb(2 4 69 / 20%);
  border: 0.3px solid rgba(2, 4, 69, 0.15);
}
.menu-level-2 > i {
  font-size: 10px;
  margin-left: 10px;
}
.menu-level-2 li {
  width: 100%;
  min-width: 202px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-bottom: 0.3px solid rgba(2, 4, 69, 0.15);
  display: flex;
  align-items: center;
  position: relative;
}
.menu-item-icon {
  margin-right: 15px;
  font-size: 20px;
}
.menu-level-2 li:last-child {
  border-bottom: 0;
}
.menu-level-2 > li:hover .menu-level-3 {
  display: block;
}
.menu-level-2 > li .fa-chevron-right {
  font-size: 13px;
  margin-left: auto;
}
.menu-level-3 {
  top: 0;
  left: 100%;
}
.btn {
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-left: 17px;
  padding: 12px 27px 9px;
  border-radius: 4px;
  border: 1px solid #00b289;
}
.btn-border {
  background-color: transparent;
  color: #00b289;
}
.btn-filled {
  background-color: #00b289;
  color: #fff;
}
#btn-menu {
  background-color: transparent;
  border: 0;
  padding: 0;
  font-size: 30px;
  margin-left: auto;
  cursor: pointer;
  display: none;
}
#btn-menu.isOpen .fa-bars {
  display: none;
}
#btn-menu:not(.isOpen) .fa-bars {
  display: block;
}

#btn-menu:not(.isOpen) .fa-xmark {
  display: none;
}

/* -----------------------
--------------- cards holder ----------------
--------------------------------------------- */

h1 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 120%;
  color: #4c525a;
  display: inline-block;
  margin-right: 30px;
}
.cards-holder {
  display: flex;
  padding-top: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cards-holder > div {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 32%;
  padding: 6% 4%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 0.3px solid rgba(2, 4, 69, 0.15);
  border-radius: 4px;
  background-color: #fbfcff;
  box-shadow: 0 0 68px 0 rgb(2 4 69 / 8%);
}
.cards-holder h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.625rem;
  line-height: 1.4;
  font-weight: 600;
}
.pricing_box {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  border-bottom: 2px solid #01b289;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 62px;
  line-height: 72px;
  font-weight: 600;
}
.currency {
  position: relative;
  top: 10px;
  margin-right: 10px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-size: 30px;
  line-height: 28px;
  font-weight: 400;
}
.occurency {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.625rem;
  line-height: 1.4;
}
.tick_list li {
  display: flex;
  padding-bottom: 18px;
  -webkit-box-align: center;
  align-items: center;
  color: #4c4d5f;
  font-size: 16px;
  line-height: 23px;
}
.tick_list li i {
  color: #00b289;
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}
.cards-holder button {
  margin-top: auto;
}
.most_popular {
  position: absolute;
  left: auto;
  top: 50px;
  right: -109px;
  bottom: auto;
  width: 360px;
  padding: 11px 100px;
  background-color: #01b289;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* -----------------------
--------------- toggle button ----------------
--------------------------------------------- */
.top_header {
  display: flex;
  text-align: center;
  justify-content: center;
}
.switch_holder {
  display: flex;
  align-items: center;
}
.switch_holder > span {
  text-transform: uppercase;
  opacity: 0.65;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1.22px;
}
.switch_holder > span.selected {
  opacity: 1;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #01b289;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #01b289;
}

input:focus + .slider {
  box-shadow: 0 0 1px #01b289;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@media (max-width: 1200px) {
  .cards-holder {
    display: block;
  }
  .cards-holder > div {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 900px) {
  #right-menu-section {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
    top: 0;
    height: 100vh;
    padding: 80px 40px;
    background-color: white;
  }
  nav > ul {
    display: block;
    margin-bottom: 30px;
  }
  .main-menu-item {
    padding: 20px 0;
    border-bottom: 1px solid #c3c3c3;
    display: flex;
    font-size: 20px;
    flex-direction: column;
  }
  .main-menu-item > i {
    margin-left: auto;
  }
  #right-menu-section button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .menu-level-2 > li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .menu-level-2,
  .menu-level-3 {
    position: static;
    padding: 0;
    margin-top: 10px;
    box-shadow: none;
  }
  .menu-level-3 {
    width: 100%;
  }
  #btn-menu {
    display: block;
    z-index: 9;
  }
}
